/* ===[ Footer styling ]=== */

footer { overflow: hidden; }

footer .imageblock {
  display: inline-block;
  padding: 0.5rem;
}

footer #footer-box {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 0.8rem;
}

footer #footer-box a {
  color: var(--secondary);
  text-decoration-style: dotted;
}

footer #footer-box a:hover {
  color: var(--nav-hover-decoration);
  text-decoration-style: dashed;
}
