    <meta property="og:site_name" content="{{ site.Title }}" />
    <meta name="application-name" content="{{ site.Title }}" />
    {{ with $.Site.Params.social.x }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}
        
    {{ if (isset .Params "author") }}
    <meta name="author" content="{{ .Param "author" }}" />
    <meta property="article:author" content="{{ .Param "author" }}" />
    {{ else }}
    <meta name="author" content="{{ $.Site.Params.biography.name }}" />
    <meta property="article:author" content="{{ $.Site.Params.biography.name }}" />
    {{ end }}

    {{ if (isset .Params "tags") }}
        {{- range .Params.tags }}
        <meta property="article:tag" content="{{ . }}" />
        {{- end }}
    {{ end}}

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{{ $.Site.Params.biography.name }}",
        "familyName": "{{ index (findRE "(\\w|[-])+$" $.Site.Params.biography.name) 0 }}",
        "gender": "{{ $.Site.Params.biography.gender }}",
        "image": {{ printf "%s" (index $.Site.Params.images 0) }},
        "email": "mailto:{{ $.Site.Params.biography.email }}",
        "url": {{ printf "%s" site.BaseURL }},
        "sameAs": [
            {{- $sameAs := slice -}}
            {{- range $key, $value := $.Site.Params.social -}}
                {{- with index $.Site.Data.social $key -}}
                    {{- $sameAs = $sameAs | append (printf .url $value) -}}
                {{- end -}}
            {{- end -}}
            {{- range $index, $url := $sameAs }}
            "{{ $url }}"{{ if ne (add $index 1) (len $sameAs) }},{{ end }}
            {{- end }}
        ],
        "knowsAbout": [
            {{- $len_knowsAbout := len $.Site.Params.biography.knows_about }}
            {{- range $index, $knowsAbout := $.Site.Params.biography.knows_about }}
                {{- if ne (add $index 1) $len_knowsAbout }}
            {{ . }},
                {{- else }}
            {{ . }}
                {{- end }}
            {{- end }}
        ]
    }
    </script>
